/*****GLOBAL STYLES*****/
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: #383838;
    background: url(../img/woodbear.png) repeat;
    width: 1200px;
    margin: 0 auto;
    line-height: 24px;
}

.content-wrapper {
    width: 850px;
    margin: 30px auto 0 auto;
    padding: 50px;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
    background: white;
}

.side-wrapper {
    background: white;
    width: 300px;
    margin: 30px 0 30px 30px;
    padding: 25px 25px;
    overflow: auto;
    float: right;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Libre Baskerville', serif;
    font-weight: 700;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 48px;
    text-align: center;
    text-transform: capitalize;
    color: whitesmoke;
}

h2 {
    font-size: 24px;
    text-align: center;
}

h3 {
    font-family: "Rock Salt", cursive;
    font-size: 16px;
    margin-bottom: 30px;
    margin-left: 160px;

}

h4 {
    font-size: 20px;
    padding-left: 80px;
}

h5 {
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}

h6 {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}


/*****HEADER STYLES*****/
.headfoot {
    background: url(../img/Nimmerwo.jpg);
    display: block;
    padding-top: 30px;
}

nav {
    width: auto;
    padding: 20px 0;
    margin-top: 250px;
    background: white;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    font-weight: bold;
    padding: 0 30px;
    text-transform: uppercase;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

aside ul li {
    display: inline-block;
}
aside ul li a {
    text-decoration: none;
    padding: 0;
}
aside ul li img {
    padding: 20px auto;
}


/***MAIN STYLES***/
.content-wrapper img {
    width: 750px;
}

.content-wrapper p {
    margin: 20px 80px;
}
#date {
    text-align: center;
    font-style: italic;
}
#button {
    background: goldenrod;
    color: white;
    text-transform: capitalize;
    margin: 30px 0 0px 335px;
    padding: 10px 25px;
    border: goldenrod;
}
/***aside styles***/
#search {
    border: solid 1px black;
    padding: 5px 20px 5px 5px;
}

.side-wrapper img {
    padding: 0 10px;
}
#contact {
    width: 230px;
}
#social {
    text-align: center;
}

/***footer styles***/
footer {
    clear: both;
    background: white;
    width: 850px;
    text-align: center;
    padding-top: 30px;
}